.fullscreen {
    height : 100%;
    width : 100%
}

html, body {
    @extend .fullscreen;
    shape-rendering: crispEdges;
}

#stage {
    @extend .fullscreen;

    svg {
        @extend .fullscreen;
    }

    .day {
      fill: #fff;
      stroke: #ccc;
    }

    .month {
      fill: none;
      stroke: #000;
      stroke-width: 2px;
    }
}
